<!DOCTYPE html>
<html lang="en">

<head>
  <title>OVAS - Dashboard</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <style>
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: gold;
      text-decoration: none;
    }
    
    a:active {
      color: black;
    }
    
    a:visited {
      color: black;
    }
  </style>
</head>

<body>
  <center>

    <div class="dash">
      <div class="dashin card-signin">
        <a href="{{ url_for('index') }}">
          <h1 class="text-center"><B>OVAS</B></h1>
          <h2 class="text-center"><b>Open Vison Attendance System</b></h2>
        </a>
        <div class='dashinn card-signin'>
            <h2>Student Attendance Record</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Attendance</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in records %}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                    </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
        </div>
      </div>
    </div>

  </center>

</body>

</html>
